extends layout
block content
  script(src='/javascripts/lobby.js')
  .container
    .hero-unit
      h1= title
      p キャッ○フィー○○○

    #roomList

    .span6
      h2 Create:
      p 部屋を新しく作成する
      form#new.form-horizontal
        .control-group
          label.control-label(for='new-room-name') 部屋名
          .controls
            input#new-room-name(type='text', name='newRoomName', placeholder='部屋名を入力...')
        .control-group
          label.control-label(for='new-room-comment') 部屋のコメント
          .controls
            input#new-room-comment(type='text', name='newRoomComment', placeholder='部屋のコメントを入力...')
        .control-group
          label.control-label(for='new-player-name') プレイヤー名
          .controls
            input#new-player-name(type='text', name='newuserName', placeholder='プレイヤー名を入力...')
        .control-group
          label.control-label(for='new-password') パスワード
          .controls
            input#new-password(type='password', name='newPassword', placeholder='パスワードを入力...')
            br
            br
            button#create-room.btn(type='button') 部屋を作成

    .span6
      h2 Enter:
      p 既存の部屋に入る
      form#enter.form-horizontal
        .control-group
          label.control-label(for='enter-room-name') 部屋名
          .controls
            input#enter-room-name(type='text', name='enterRoomName', placeholder='部屋名を入力...')
        .control-group
          label.control-label(for='enter-player-name') プレイヤー名
          .controls
            input#enter-player-name(type='text', name='enterPlayerName', placeholder='プレイヤー名を入力...')
        .control-group
          label.control-label(for='enter-password') パスワード
          .controls
            input#enter-password(type='password', name='enterPassword', placeholder='パスワードを入力...')
            br
            br
            button#enter-room.btn(type='button') 部屋に入る

//
    .span6
      h2 Create old:
      p ルームを新しく作成する
      form#new.form-horizontal(action='./room', method='post')
        .control-group
          label.control-label(for='new-room-name') 作成するルーム名
          .controls
            input#new-room(type='text', name='roomName', placeholder='ルーム名を入力...')
        .control-group
          label.control-label(for='new-name') 表示するあなたの名前
          .controls
            input#new-name(type='text', name='yourName', placeholder='表示名を入力...')
        .control-group
          label.control-label(for='new-password') 認証用パスワード
          .controls
            label
              input#new-password(type='password', name='password', placeholder='パスワードを入力...')
            button.btn(type='submit', name='mode', value='create') チャットルームを作成
